.nav__menu .nav-item .nav-link {
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    line-height: 24px;
}
.tittle {
    font-family: 'Montserrat',sans-serif;
}
.text {
    font-family: 'NunitoSans', sans-serif;
}
.menu {
        background-color: #e9e9e9;
    }
.button {
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
    padding: 18px 40px;
}
.baner {
    padding-top: 80px;
    padding-bottom: 100px;
}
.tittle__centr {
    text-align: center;
}
.padding {
    padding-top: 100px;
    padding-bottom: 110px;
}
.img__wraper img{
    width: 100%;
    height: auto;
}

.skills__tittle {
    padding: 10px;
}
.ladels {
    padding-top: 156px;
    padding-bottom: 162px;
}
.menu__skills {
    background-color: #f8f9f9;
}